#event-add .form-control {
    background: #e8e8e8;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;
  }

#add{
    background-color: #d3d3d3;
    color: #505e6c;
}

#event-add{
    display: table;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    padding: 1em;
    background-color: #fff;
}
  
  
#event-add .btn-primary {
    background: #ff914d;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: none;
    width: 100%;
    outline: none !important;
  }
  
#event-add .btn-primary:hover, .login-clean form .btn-primary:active {
    background: #ff914d;
  }
  
#event-add .btn-primary:active {
    transform: translateY(1px);
  }
  
.btn-primary{
    color: #fff;
  }

#event-add h3 {
    margin-left: 15px;
  }
  .fileInput {
    border: 1px solid #d3d3d3;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
  }
  .imgPreview {
    text-align: center;
    height: 200px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
  }
  .imgPreview img {
    width: 100%;
    height: 100%;
  }
  .previewText {
    width: 100%;
    margin-top: 20px;
  }
#event-add .submitButton {
    padding: 12px;
    margin-left: 10px;
    background: #ff914d;
    border: 4px solid #ff914d;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
    color: #fff;
  }
#imgg{
    text-align: center !important;
}