#dash{
    padding-top: 2em;
}
.SearchBar{
    margin-left: 17%;
    margin-top: 10em;
    /*border-radius: 25px;*/
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
    /*padding-left: 30%;
    padding-right: 30%;*/
}

.search{
    max-width: 20%;
    margin-left: 20px;
    /*border-radius: 25px;*/
    padding-left: 25px;
}
